/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of css reset */

html {
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

header {
    align-self: flex-start;
    justify-self: flex-end;
    width: 100%;
    font-size: 10pt;
}

li {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav ul li {
    margin-top: 15px;
    padding: 5px 10px 8px 10px;
}

.apps {
    margin-right: 5px;
}

.sign-in {
    background: -moz-linear-gradient(top,#4387fd,#4683ea);
    border: 1px solid #4285f4;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    margin-right: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

footer {
    justify-self: flex-end;
    align-self: flex-end;
    width: 100%;
    /* display: flex;
    flex-wrap: wrap; */
}

.main-logo {
    width: 272px;
}

form {
    width: 100%;
}

#search-bar {
    display: block;
    width: 28rem;
    border-radius: 50px;
    height: 2.5rem;
    padding: 0 1rem;
    margin: 20px auto 0 auto;
}

#search-bar:hover {
    box-shadow: 0 0 7px #d1d1d1;
}

.search-buttons {
    display: flex;
    width: 30%;
    border-radius: 8px;
    margin: 0 auto;
    justify-content: center;
}

.search-buttons button {
    flex: 1 0 auto;
    margin: 30px 6px;
    height: 2rem;
    padding: 0px;
}

.alt-language {
    text-align: center;
    font-size: 10pt;
}

.current-country {
    text-align: left;
    font-size: 12pt;
    padding: 15px 0 15px 25px;
    background-color: #f3f3f3;
    border-top: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
    color: #6d6d6d;
}

.footer {
    display: flex;
    font-size: 10pt;
    padding: 15px 25px 15px 25px;
    background-color: #f3f3f3;
    border-bottom: 1px solid rgb(216, 216, 216);
    color: #6d6d6d;
}

.footer ul {
    flex: 1 0;
    display: flex;
}

.right-footer {
    justify-content: flex-end;
}

.right-footer li {
    margin-left: 20px;
}

.left-footer {
    justify-content: flex-start;
}

.left-footer li {
    margin-right: 20px;
}